*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;400&display=swap');

body{
}

.menu{
    width: 100%;
    display: flex;
    align-items:center;
    background-color: white;
}
.logo {
    width: 200px;
    margin: 10px;
}

.menu a{
    margin-left: 10px;
    font-size: 18px;
    width: 105px;
    text-align: center;
    text-decoration: none;
    font-family: 'Advent Pro', sans-serif;
    color: black
}

.menu a:hover{
    cursor: pointer;
    color: rgb(73, 189, 189);
}

.me{
    position: relative;
    background-color: rgba(0,0,0,5%);
    width: 100%;
    height: 500px;
    align-items: baseline;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.me-text{
    position: absolute;
    margin-left: 250px;
    top:150px;
    font-weight: 100;
}
.me-text h2{
    font-size: 15px;
}
.me-text h1{
    margin-top: 20px;
}

.me-text p{
    margin-top: 20px;
}

#discover{
    margin-top: 20px;
    font-family: 'Advent Pro', sans-serif;
    padding: 10px 30px;
    background-color: rgb(73, 189, 189);
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 100;
}
#discover:hover{
    cursor: pointer;
    transition: 2s transform;
    transform: scale(1.1);
}